# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Virtual environments
fundus_venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data/results files
# results.csv
# results.xlsx

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

#Datasets
datasets/

*.csv
*.xlsx
results/
